# Auto detect text files and perform LF normalization
* text=auto
c:\Users\deepak verma\Downloads\ewaste-management (2)\app c:\Users\deepak verma\Downloads\ewaste-management (2)\next.config.mjs c:\Users\deepak verma\Downloads\ewaste-management (2)\package.json c:\Users\deepak verma\Downloads\ewaste-management (2)\pnpm-lock.yaml c:\Users\deepak verma\Downloads\ewaste-management (2)\postcss.config.mjs c:\Users\deepak verma\Downloads\ewaste-management (2)\tailwind.config.ts c:\Users\deepak verma\Downloads\ewaste-management (2)\tsconfig.json c:\Users\deepak verma\Downloads\ewaste-management (2)\components.json c:\Users\deepak verma\Downloads\ewaste-management (2)\.gitignore c:\Users\deepak verma\Downloads\ewaste-management (2)\.next c:\Users\deepak verma\Download